*{
    margin: 0;
}

body{
    margin: 0px 0px 0px 130px;
    width: 1600px;
    height: 5738px;
    background: #fff;
    box-sizing: border-box;
}

header{
    width: 1600px;
    height: 862px;
    background-color: rgba(242, 206, 218, 1);
}


nav{
    width: 1125px;
    height: 79px;
    display: flex;
    padding: 10px 245px;
}


nav ul{
    list-style: none;
    display: flex;
    width: 443px;
    height: 16px;
    margin: 30px 100px 0px 266px;
}
nav li{
    margin: 0px 30px 0px 0px;
}

nav a{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #150101;
    opacity: 0.9;
    text-decoration: none;
}
 
nav button{
    border-radius: 5px;
    width: 165px;
    height: 49px;
    background: #d23166;
    font-weight: 700;
    font-size: 16px;
    color: #fafafa;
    font-family: "Hind Madurai", sans-serif;
    border: none;
    margin: 10px 0px 0px 0px;
    cursor: pointer;

}

.nav-active-item{
    font-weight: 700;
    font-size: 15px;
    color: #d23166;
}

.header-main{
    margin: 37px 0px 0px;
    width: 1125px;
    height: 726px;
    display: flex;
}
.header-main img{
    width: 597px;
    height: 656px;
}
.header-main-text{
    padding: 159px 0px 213px 254px;
    width: 665px;
    height: 364px;
}
.header-main-text h3{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.1em;
    color: #0f0101;
}
.header-main-text h1{
    font-family: "Fredoka", sans-serif;
    font-weight: 400;
    font-size: 57px;
    line-height: 121%;
    color: #0f0101;
    margin: 6px 0px 0px 0px;
}
.header-main-text span{
    color: #d23166;
}
.header-main-text p{
    font-family: "Hind Madurai", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #0f0101;
    margin: 35px 142px 0px 0px;
}
.header-main-text button{
    border-radius: 5px;
    width: 165px;
    height: 49px;
    background: #d23166;
    font-weight: 700;
    font-size: 16px;
    color: #fafafa;
    font-family: "Hind Madurai", sans-serif;
    border: none;
    margin: 50px 500px 0px 0px;
    cursor: pointer;
}

.facts{
    width: 1117px;
    height: 200px;
    display: flex;
    margin: 103px 252px;
}

.facts div{
    border-radius: 7px;
    width: 250px;
    height: 200px;
    box-shadow: 20px 20px 50px 0 rgba(0, 0, 0, 0.03);
    background: #fff;
    margin: 0px 40px 0px 0px;
}
.facts img{
    width:51px; 
    height:44px;
    margin: 33px 100px 24px 100px;
}

.facts h2{
    font-family: "Hind Madurai", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #000;
    display: flex;
    width: 100%;
    justify-content: center;
    
}
.facts p{
    margin-top: 9px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #000;
    font-family: "Hind Madurai", sans-serif;
}

.brown-ice-cream{
    width: 1600px;
    height: 544px;
    background: #f8edf0;
    display: flex;
}
.brown-ice-cream div{
    width: 442px;
    height: 256px;
    padding: 142px 74px 146px 252px; 
}
.brown-ice-cream h1{
    font-family: "Hind Madurai", sans-serif;
    font-weight: 600;
    font-size: 44px;
    line-height: 111%;
    color: #150101;
}
.brown-ice-cream p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #150101;
    margin: 17px 0px 35px 0px;
}
.brown-ice-cream button{
    border-radius: 5px;
    width: 165px;
    height: 49px;
    background: #d23166;
    font-weight: 700;
    font-size: 16px;
    color: #fafafa;
    font-family: "Hind Madurai", sans-serif;
    border: none;
    cursor: pointer;
}

.our-product{
    width: 1160px;
    height: 1506px;
    margin: 137px 187px 137px 249px;
}

.our-product h1{
    font-weight: 600;
    font-size: 44px;
    color: #150101;
    font-family: "Hind Madurai", sans-serif;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0px 0px 64px 0px;
}
.our-product ul{
    display: flex;
    width: 100%;
    height: 21px;
    justify-content: center;
}
.our-product li{
    list-style: none;
    margin: 0px 40px 0px 0px;
}
.our-product a{
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #000;
    opacity: 0.6;
}

.products{

}

.first-product{
    display: flex;
}
.first-product-text{
    width: 454px;
    height: 234px;
    margin: 60px 0px 121px 85px;
}
.first-product-text h3{
    font-family: "Hind Madurai", sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: #000;
}
.first-product-text p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000;
}
.first-product button{
    border-radius: 5px;
    width: 165px;
    height: 49px;
    background: #d23166;
    font-weight: 700;
    font-size: 16px;
    color: #fafafa;
    font-family: "Hind Madurai", sans-serif;
    border: none;
    cursor: pointer;
}
.price-box{
    display: flex;
}
.price{
    font-family: "Hind Madurai", sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: #000;    
}

.old-price{
    font-weight: 500;
    font-size: 20px;
    text-decoration: line-through;
    color: #000;
    font-family: "Hind Madurai", sans-serif;
    opacity: 0.7;
}

.second-product{
    display: flex;
    flex-direction: row-reverse;
}
.second-product-text{
    width: 444px;
    height: 234px;
    margin: 91px 84px 90px 0px;
}

.second-product-text h3{
    font-family: "Hind Madurai", sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: #000;
}

.second-product-text p {
     font-family: "Roboto", sans-serif;
     font-weight: 400;
     font-size: 16px;
     line-height: 150%;
     color: #000;
}
.second-product button {
    border-radius: 5px;
    width: 165px;
    height: 49px;
    background: #d23166;
    font-weight: 700;
    font-size: 16px;
    color: #fafafa;
    font-family: "Hind Madurai", sans-serif;
    border: none;
    cursor: pointer;
}

#buy_window{
    width: 600px;
    height: 600px;
    background-color: #d23166;
    color: #fafafa;
    display: none;
    border-radius: 20px;
    margin: 30px 300px 30px 300px;
    position: absolute;
    top: 1000px;
    left: 340px;

}
#buy_window h1{
    font-size: 40px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    margin: 180px 200px 0px;
}
.buy-input {
    margin: 30px 30px;
    width: 500px;
    height: 30px;
    background-color: #fafafa;
    color: #000;
}
.buy_window_btn{
    margin: 0px 30px;
    width: 500px;
    height: 30px;
    background-color: #fafafa;
    color: #000;
}
font-family: "Roboto",sans-serif;
font-family: "Hind Madurai",sans-serif;
font-family: "Fredoka", sans-serif;

