* {
    margin: 0;
}

nav {
    width: 1125px;
    height: 79px;
    display: flex;
    padding: 10px 245px;
}


nav ul {
    list-style: none;
    display: flex;
    width: 443px;
    height: 16px;
    margin: 30px 100px 0px 266px;
}

nav li {
    margin: 0px 30px 0px 0px;
}

nav a {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #150101;
    opacity: 0.9;
    text-decoration: none;
}












footer {
    margin: 0;
    width: 1440px;
    height: 545px;
    background: #fafafa;
}

.footer-head {
    width: 1240px;
    height: 56px;
    margin: 0;
    padding: 103px 100px 59px 100px;
    display: flex;
}





.footer-line {
    border: 1px solid #ddd;
    width: 1240px;
    height: 0px;
    margin: 0px 100px;
}

.footer-main {
    display: flex;
    margin: 0px;
    width: 1440px;
    height: 489px;
}

.footer-box-1 {
    width: 326px;
    height: 216px;
    margin: 59px 212px 52px 205px;
}

.footer-box-1-title {
    margin: 0px;
    padding: 0px 30px 0px 0px;
    font-style: italic;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #222;
}

.footer-box-descr {
    font-weight: 400;
    font-size: 18px;
    line-height: 178%;
    color: #555;
    margin: 38px 0px 0px 0px;
}

.footer-main h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: #222;
}

.footer-main p {
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: #222;
}

.footer-box-2 {
    margin: 0px 213px 80px 0px;
    width: 96px;
    height: 163px;
}

.footer-box-3 {
    margin: 0;
    width: 183px;
    height: 155px;
}

.footer-box-title {
    margin: 84px 0px 0px 0px;
}

.footer-box-item-1 {
    margin: 0;
    margin: 39px 52px 0px 0px;
}

.footer-box-item {
    margin: 0;
    margin: 10px 0px;
}