* {
    margin: 0;
}
body{
    font-family: "Roboto", sans-serif;
    width: 1040px;
    height: 6400px;
    background: #ffffff;
    margin: 0 500px;
}

nav {
    width: 1220px;
    height: 54px;
    display: flex;
    margin: 32px 110px;
}

nav h3{
    margin: 10px 0px 0px 0px;
    font-weight: 700;
    font-size: 23px;
}

nav ul {
    list-style: none;
    display: flex;
    width: 429px;
    height: 30px;
    margin: 0px 280px 6px 40px;
    padding: 10px;
}

nav li {
    list-style: none;
    margin: 0px 22px 0px ;
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    color: #211f54;
}

nav a {
    padding: 10px;
    font-family: "Roboto", sans-serif;
    color: #211f54;
    text-decoration: none;
}

.cart-link{
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    color: #211f54;
    margin: 0px 24px 0px 0px;
}

.get_a_free_quote_btn{
    width: 174px;
    height: 54px;
    font-weight: 400;
    font-size: 16px;
    line-height: 112%;
    text-align: center;
    color: #fff;
    background: #0075ff;
    border-radius: 14px;
    border: none;
    font-family: "Roboto", sans-serif;
}



.header-main{
    width: 1440px;
    height: 734px;
    display: flex;
}
.header-main-text{
    margin: 227px 19px 140px 110px;
    width: 678px;
    height: 364px;  
}
.header-main-text h1{
    font-weight: 700;
    font-size: 68px;
    line-height: 109%;
    color: #211f54;
}

.header-main-text p {
    width: 591px;
    height: 91px;
    font-weight: 400;
    font-size: 21px;
    line-height: 143%;
    color: #6e7191;
}

.header-main-text-btn-and-call-box{
    margin: 40px 0 0 0;
    display: flex;
}
.header-main-text-btn-and-call-box button{
    width: 174px;
    height: 54px;
    font-weight: 400;
    font-size: 16px;
    line-height: 112%;
    text-align: center;
    color: #fff;
    background: #0075ff;
    border-radius: 14px;
    border: none;
    font-family: "Roboto",sans-serif;
}
.call-box{
    margin: 0px 0px 0px 28px;
    display: flex;
}
.call-box h4{
    font-weight: 400;
    font-size: 16px;
    line-height: 112%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #6e7191;
}
.call-box h2{
    font-weight: 700;
    font-size: 28px;
    line-height: 129%;
    color: #211f54;
}

.how-our-service-work{
    margin: 240px 86px;
}
.how-our-service-work-text{
    margin: 0px 302px 64px 302px;
    width: 664px;
    height: 133px;
}

.how-our-service-work-text h1{
    font-weight: 700;
    font-size: 48px;
    line-height: 121%;
    text-align: center;
    color: #211f54;
}

.how-our-service-work-text p {
    font-weight: 400;
    font-size: 21px;
    line-height: 143%;
    text-align: center;
    color: #6e7191;
}

.how-our-service-work-facts{
    display: flex;
    width: 1220px;
    height: 392px;
}
.how-our-service-work-facts div{
    width: 374px;
    height: 392px;
    margin: 0px 42px 0px 0px;
}

.how-our-service-work-facts h3{
    font-weight: 700;
    font-size: 28px;
    line-height: 129%;
    text-align: center;
    color: #211f54;
}

.how-our-service-work-facts p {
    font-weight: 400;
    font-size: 21px;
    line-height: 143%;
    text-align: center;
    color: #6e7191;
    
}


.how-our-service-work-facts img {
    margin: 0px 97px 39px 97px;
}

.active-btn{
    margin: 57px 28px 0px 380px;
    width: 217px;
        height: 72px;
    font-weight: 400;
    font-size: 16px;
    line-height: 112%;
    text-align: center;
    color: #fff;
    background: #0075ff;
    border-radius: 14px;
    border: none;
    font-family: "Roboto", sans-serif;
}
.non-active-btn{
    box-shadow: 0 4px 10px 0 rgba(20, 20, 43, 0.04);
    background: #fff;
    border: 1px solid #eff0f6;
    border-radius: 14px;
    width: 217px;
    height: 72px;
    font-weight: 400;
    font-size: 18px;
    line-height: 111%;
    text-align: center;
    color: #211f54;
    font-family: "Roboto", sans-serif;
}

.line{
    width: 1220px;
    height: 1px;
    background: #dcddeb;
    margin: 240px 110px;
}

.no-comparison{
    width: 1268px;
    height: 904px;
    margin: 240px 86px;
}

.no-comparison-text{
    width: 664px;
    height: 190px;
    margin: 0px 302px;
}

.no-comparison-text h1{
    font-weight: 700;
    font-size: 48px;
    line-height: 121%;
    text-align: center;
    color: #211f54;
}

.no-comparison-text p {
    font-weight: 400;
    font-size: 21px;
    line-height: 143%;
    text-align: center;
    color: #6e7191;
}

.no-comparison-stats{
    width: 750px;
    height: 72px;
    display: flex;
    margin: 32px 259px 40px 259px;
}
.no-comparison-video-img{
    width: 1012px;
    height: 570px;
    margin: 40px 128px 0px 128px;
}

.no-comparison-stats-con{
    height: 72px;
    display: flex;
}
.no-comparison-stats-con div{
    height: 58px;
    margin: 7px 0px 7px 16px;
}
.no-comparison-stats-con h5{
    font-weight: 400;
    font-size: 16px;
    line-height: 112%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #6e7191;
}
.no-comparison-stats-con h3 {
    font-weight: 700;
    font-size: 28px;
    line-height: 129%;
    color: #211f54
}

.no-comparison-stats-con-1 {
    width: 179px;
    margin: 0px 100px 0px 0px;
}
.no-comparison-stats-con-1 div{
    width: 91px;
        height: 58px;
}
.no-comparison-stats-con-2 {
    width: 198px;
    margin: 0px 85px 0px 0px;
}
.no-comparison-stats-con-2 div{
    width: 110px;
        height: 58px;
}
.no-comparison-stats-con-3 {
    width: 191px;
}
.no-comparison-stats-con-3 div{
    width: 103px;
        height: 58px;
}

.take-a-look-at-our-prof-services{
    width: 1268px;
    height: 672px;
    margin: 0px 86px;
}
.take-a-look-at-our-prof-services-head{
    width: 1220px;
    height: 130px;
    display: flex;
}
.take-a-look-at-our-prof-services-head h2{
    font-weight: 700;
    font-size: 48px;
    line-height: 121%;
    color: #211f54;
    margin: 0px 531px 14px 0px;
    width: 475px;
    height: 116px;
}
.take-a-look-at-our-prof-services-head button{
    width: 214px;
    height: 73px;
    border: 1px solid #eff0f6;
    border-radius: 14px;
    width: 214px;
    height: 73px;
    box-shadow: 0 4px 10px 0 rgba(20, 20, 43, 0.04);
    background: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 111%;
    text-align: center;
    color: #211f54;
    margin: 29px 0px;
}

.take-a-look-at-our-prof-services-facts{
    display: flex;
    margin: 48px 24px 0 24px;
    width: 1220px;
    height: 494px;
}
.take-a-look-at-our-prof-services-facts div{
    width: 388px;
    height: 494px;
    margin: 0 28px 0 0;
    border: 1px solid #eff0f6;
    border-radius: 16px;
    width: 388px;
    height: 494px;
    box-shadow: 0 2px 6px 0 rgba(20, 20, 43, 0.04);
    background: #fff;
}
.take-a-look-at-our-prof-services-facts-house-img{
    width: 220px;
    height: 190px;
    margin: 83px 84px 0px 84px;
}
.take-a-look-at-our-prof-services-facts-office-img {
    width: 220px;
    height: 224px;
    margin: 49px 84px 0px 84px;
}
.take-a-look-at-our-prof-services-facts-industrial-img {
    width: 250px;
    height: 200px;
    margin: 73px 65px 0px 65px;
}
.take-a-look-at-our-prof-services-facts h5{
    font-weight: 700;
    font-size: 24px;
    line-height: 142%;
    text-align: center;
    color: #211f54;
    
}


.take-a-look-at-our-prof-services-facts p {
    font-weight: 400;
    font-size: 21px;
    line-height: 143%;
    text-align: center;
    color: #6e7191;
    width: 312px;
    height: 121px;
    margin: 13px 38px 29px 38px;
}

.request-a-free-cleaning-quote-today{
    width: 1440px;
    height: 1388px;
    background: #f7f9fc;
    margin: 240px 0 0 0;
    display: flex;
}

.request-a-free-cleaning-quote-today-text{
    width: 487px;
    height: 616px;
    margin: 385px 60px 385px 110px;
}
.request-a-free-cleaning-quote-today-text h2{
    font-weight: 700;
    font-size: 48px;
    line-height: 121%;
    color: #211f54;
}

.request-a-free-cleaning-quote-today-text p {
    font-weight: 400;
    font-size: 21px;
    line-height: 143%;
    color: #6e7191;
}

.form-line{
    width: 487px;
    height: 1px;
    background: #dcddeb;
    margin: 52px 0;
}
.form-call-box{
    width: 487px;
    height: 72px;
    display: flex;
}
.form-call-box img{
    box-shadow: 0 4px 10px 0 rgba(20, 20, 43, 0.04);
    width: 72px;
    height: 72px;
    
}

.form-call-box-text{
    width: 223px;
    height: 58px;
    margin: 7px 0px 7px 16px;
}

.form-call-box-text h3{
    font-weight: 400;
    font-size: 16px;
    line-height: 112%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #6e7191;
    margin: 6px 100px 4px 0px;
}
.form-call-box-text h2 {
    font-weight: 700;
    font-size: 28px;
    line-height: 129%;
    color: #211f54;
}

.request-a-free-cleaning-quote-today-text h4 {
    font-weight: 700;
    font-size: 28px;
    line-height: 129%;
    color: #211f54;
    margin: 0 242px 9px 0;
}

.request-a-free-cleaning-quote-today-text button {
    width: 257px;
    height: 73px;
    font-weight: 700;
    font-size: 18px;
    line-height: 111%;
    text-align: center;
    color: #211f54;
    border: 1px solid #eff0f6;
    border-radius: 14px;
    width: 257px;
    height: 73px;
    box-shadow: 0 4px 10px 0 rgba(20, 20, 43, 0.04);
    background: #fff;   
}

.request-a-free-cleaning-quote-today-text-form{
    width: 673px;
    height: 908px;
    border: 1px solid #eff0f6;
    border-radius: 16px;
    width: 673px;
    height: 908px;
    box-shadow: 0 2px 6px 0 rgba(20, 20, 43, 0.04);
    background: #fff;
    margin: 240px 110px 240px 0px;
}

.request-a-free-cleaning-quote-today-text-form-content{
    width: 550px;
    height: 738px;
    margin: 85px 62px;
    display: grid;
    row-gap: 32px;
    column-gap: 32px;
    grid-template-columns: repeat(2, 260px);
    grid-template-rows: repeat(3, 114px);
}


.form-con label{
    display: block;
    margin: 0px 176px 12px 0px;
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    color: #211f54;
}

.form-con input {
    border: 1px solid #eff0f6;
    border-radius: 16px;
    width: 259px;
    height: 72px;
    box-shadow: 0 2px 12px 0 rgba(20, 20, 43, 0.08);
    background: #fff;
}



.form-con-l label{
    display: block;
    margin: 0px 100px 12px 0px;
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    color: #211f54;
}


.form-con-l input{
    border: 1px solid #eff0f6;
    border-radius: 16px;
    width: 259px;
    height: 72px;
    box-shadow: 0 2px 12px 0 rgba(20, 20, 43, 0.08);
    background: #fff;
}

.form-con-l-c label {
    display: block;
    margin: 0px 136px 12px 0px;
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    color: #211f54;
}


.form-con-l-c input {
    width: 551px;
    height: 144px;
    border: 1px solid #eff0f6;
    border-radius: 16px;
    width: 259px;
    height: 72px;
    box-shadow: 0 2px 12px 0 rgba(20, 20, 43, 0.08);
    background: #fff;
}
    
.request-a-free-cleaning-quote-today-text-form-content button{
    border-radius: 14px;
    border: none;
    width: 219px;
    height: 72px;
    background: #0075ff;
    font-weight: 700;
    font-size: 18px;
    line-height: 111%;
    text-align: center;
    color: #fff;
    cursor: pointer;
    margin: 42px 0 0 0 ;
}

footer {
    width: 1268px;
    height: 300px;
    background-color: #ffffff;
}

.footer-main{
    display: flex;
    margin: 140px 110px 260px 110px;
    width: 1220px;
    height: 242px;
}

.footer-box-1{
    width: 312px;
    height: 242px;
    margin: 0px 40px 8px 0;
}

.footer-box-1-title {
    margin: 0px;
    font-weight: 700;
    font-size: 28px;
    line-height: 129%;
    color: #211f54;
}

.footer-box-descr {
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    color: #6e7191;
    margin: 7px 0 0 0;
}

.footer-main h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 110%;
    color: #211f54;
}

.footer-main p {
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    color: #6e7191;
}

.footer-box-2 {
    width: 312px;
    height: 242px;
    margin: 0 40px 0 0;
}
.footer-box-2 h2{
    margin: 0 211px 29px 0;
}
.footer-box-2 p{
    margin: 0 28px 13px 28px;
}



.footer-box-3 {
    width: 164px;
    height: 242px;
    margin: 0 40px 0 0;
}
.footer-box-3 h2{
    font-weight: 700;
    font-size: 20px;
    line-height: 110%;
    color: #211f54;
    margin: 0 109px 30px 0;
}
.footer-box-3-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 111%;
    color: #211f54;
    margin: 0 0 8px 0;
}
.footer-box-3-item{
    margin: 0 0 18px 0;
}

.footer-box-4{
    width: 312px;
    height: 242px;
}
.footer-box-4 h2{
    margin: 0 130px 28px 0;
}
.footer-box-4-item-1{
    font-weight: 700;
    font-size: 28px;
    line-height: 129%;
    color: #0075ff;
}
.footer-box-4-item{
    margin: 0 18px 18px 0;
}

.footer-box-4 button{
    border-radius: 14px;
    width: 256px;
    height: 72px;
    background: #0075ff;
    font-weight: 700;
    font-size: 18px;
    line-height: 111%;
    text-align: center;
    color: #fff;
    border: none;
}
