body{
    font-family: "Red Hat Display", sans-serif;
    width: 1440px;
    height: 4626px;
    background: #fff;
    box-sizing: border-box;
    margin: 0px 0px 0px 300px;
}
header{
    margin: 0;
    background: #f9f6f5;
    width: 1440px;
    height: 747px;
}
.logo-name{
    font-style: italic;
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #222;
}
.nav-bar{
    display: flex;
    align-items: center;
    width: 1240px;
    height: 30px;
    margin: 0;
    padding: 40px 100px 68px;
}
.nav-links{
    margin: 0px 0px 0px 304px;
}
.nav-links li {
    display: inline-block;
}
.nav-links a{
    text-decoration: none;
    list-style: none;
    margin: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: #222;
}
.icons{
    margin: 0px 0px 0px 312px;
}
.header-main-content{
    margin: 0;
    display: flex;
}
.header-text{
    margin: 0px 100px 0px 100px;
    width: 621px;
    height: 460px;
}
.header-text h1{
    font-weight: 500;
    font-size: 56px;
    line-height: 125%;
    color: #000;
    margin: 0;
}
.header-text p{
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: #555;
    margin: 27px 0px 30px 0px;
}

.header-text input{
    width: 326px;
    height: 48px;
    margin: 0px;
    background: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #999;
    border: none;
}
.header-text button{
    margin: 0px;
    width: 148px;
    height: 56px;
    background: #402f2c;
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    color: #fff;
}

.popular-products{
    margin: 130px 100px;
    width: 1240px;
    height: 1037px;
}
.popular-products-head {
    display: flex;
    margin: 0px 0px 60px 0px;
}
.popular-products-text{
    margin: 0;
    width: 714px;
    height: 165px;
}

.popular-products-text h1{
    margin: 0;
    font-weight: 500;
    font-size: 56px;
    line-height: 125%;
    color: #000;
}
.popular-products-text p{
    margin: 10px 0px 0px 0px;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: #555;
}
.popular-products-head-link{
    margin: 80px 0px 0px 246px;
    font-weight: 500;
    font-size: 24px;
    line-height: 125%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #222;
}
.popular-products-main-content{
    width: 1236px;
    height: 812px;
    display: flex;
}
.popular-product-title{
    margin: 20px 221px 16px 32px;
    font-weight: 500;
    font-size: 40px;
    line-height: 150%;
    color: #222;
}
.popular-product-descr{
    margin: 0px 52px 47px 32px;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: #555;
}
.popular-products-footer{
    margin: 0px 32px 32px 32px;
    display: flex;
}

.popular-product-btn{
    width: 137px;
    height: 56px;
    background: #402f2c;
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    color: #fff;
    margin: 0px 24px 0px 0px;
}
.popular-product-btn-2{
    border: 1px solid rgba(104, 90, 82, 0.46);
    width: 162px;
    height: 56px;
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    color: #402f2c;
}
.popular-product-price{
    font-weight: 500;
    font-size: 30px;
    line-height: 107%;
    text-align: right;
    color: #222;
    margin: 12px 0px 12px 149px;
}
.facts{
    width: 1440px;
    height: 250px;
    background: #fdf8f5;
    margin: 130px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.fact{
    width: 186px;
    height: 134px;

}
.fact h2{
    font-weight: 700;
    font-size: 56px;
    line-height: 125%;
    color: #222;
    margin: 0;
    padding: 0px 10px 0px 10px;
}
.underline-1{
    border: 3px solid #222;
    width: 139px;
    height: 0px;
    margin: 8px 0px 0px 0px;
    padding: 0px 10px 0px 10px;
}
.underline-2 {
    border: 3px solid #222;
    width: 112px;
    height: 0px;
    margin: 8px 0px 0px 0px;
    padding: 0px 10px 0px 10px;
}
.underline-3 {
    border: 3px solid #222;
    width: 147px;
    height: 0px;
    margin: 8px 0px 0px 0px;
    padding: 0px 10px 0px 10px;
}
.fact p{
    font-weight: 400;
    font-size: 24px;
    line-height: 125%;
    color: #555;
}
.perf-beauty{
    width: 1240px;
    height: 600px;
    margin: 130px 100px;
    display: flex;
    justify-content: space-between;
}
.perf-beauty h1{
    font-weight: 500;
    font-size: 56px;
    line-height: 125%;
    color: #000;
    margin-bottom: 0;
}
.perf-beauty-descr-1{
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: #555;
}

.perf-beauty-descr-2{
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: #555;
}

.perf-beauty button{
    margin-top: 50px;
    width: 148px;
    height: 56px;
    background: #402f2c;
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    color: #fff;
}
.designer-card{
    margin: 0px 132px 130px 63px;
    width: 1245px;
    height: 554px;
    display: flex;
}
.designer-card h1{
    margin: 20px 384px 12px 54px;
    font-weight: 500;
    font-size: 30px;
    line-height: 133%;
    color: #222;
}
.star-box{
    margin: 12px 472px 0px 54px;
}
.designer-card-descr{
    margin: 43px 50px 79px 54px;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: #555;
}
.designer-card-name-2-descr{
    margin: 0px 560px 124px 54px;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: #555;
}
footer{
    margin: 0;
    width: 1440px;
    height: 545px;
    background: #fafafa;
}
.footer-head{
    width: 1240px;
    height: 56px;
    margin: 0;
    padding: 103px 100px 59px 100px;
    display: flex;
}


.footer-head h2{
    font-weight: 500;
    font-size: 36px;
    line-height: 128%;
    color: #222;
    margin: 0px 290px 0px 0px;
}
.footer-feedback{
    width: 386px;
    height: 40px;
    background: #fff;
    display: flex;
}
.footer-feedback input{
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: #555;
    width: 286px;
    height: 34px;
}
.footer-feedback button{
    width: 103px;
    height: 40px;
    background: #402f2c;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: #fff;
}

.footer-line {
    border: 1px solid #ddd;
    width: 1240px;
    height: 0px;
    margin: 0px 100px;
}
.footer-main{
    display: flex;
    margin: 0px;
    width: 1440px;
    height: 489px;
}
.footer-box-1{
    width: 326px;
    height: 216px;
    margin: 59px 212px 52px 205px;
}
.footer-box-1-title{
    margin: 0px;
    padding: 0px 30px 0px 0px;
    font-style: italic;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #222;
}
.footer-box-descr{
    font-weight: 400;
    font-size: 18px;
    line-height: 178%;
    color: #555;
    margin: 38px 0px 0px 0px;
}
.footer-main h2{
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: #222;
}
.footer-main p{
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: #222;
}
.footer-box-2{
    margin: 0px 213px 80px 0px;
    width: 96px;
    height: 163px;
}
.footer-box-3{
    margin: 0;
    width: 183px;
    height: 155px;
}

.footer-box-title{
    margin: 84px 0px 0px 0px;
}
.footer-box-item-1{
    margin: 0;
    margin: 39px 52px 0px 0px;
}
.footer-box-item{
    margin: 0;
    margin: 10px 0px;
}



@media (max-width: 1200px) {
    body{ 
        max-width: 970px;
    }
}


@media (max-width: 992px) {
    body {
        max-width: 750px;
    }
}

@media (max-width: 768px) {
    body {
        max-width: none;
    }
}